name: Deploy App Runner service

on:
    push:
      branches: [main]        

jobs:
    apprunner_deploy:
        runs-on: ubuntu-latest
        
        env:
            REGION: "us-east-1"

        steps:

            - name: checkout
              uses: actions/checkout@v4

            - name: Configure AWS Credentials 
              uses: aws-actions/configure-aws-credentials@v5.0.0
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ env.REGION }}

            - name: App Runner Deploy
              env:
                DB_NAME: "postgres"
                DB_USER: "zeelz"
                DB_HOST: "4.tcp.eu.ngrok.io"
                DB_PORT: "10048"                

              id: deploy-apprunner
              uses: awslabs/amazon-app-runner-deploy@main # Deploy app runner service
              with:
                service: express-app
                source-connection-arn: ${{ secrets.AWS_GITHUB_CONNECTION_ARN }}
                repo: https://github.com/${{ github.repository }}
                branch: ${{ github.ref }}
                runtime: NODEJS_18
                build-command: npm run install-build
                start-command: node build/index.js
                port: 18000
                region: ${{ env.REGION }}
                cpu : 0.25
                memory : 0.5
                wait-for-service-stability-seconds: 600
                copy-env-vars: |
                    DB_USER
                    DB_NAME
                    DB_HOST
                    DB_PORT